ini file CSS 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #333;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    max-width: 500px;
    /* Limit max width */
    background-color: white;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/* Header */
.main-header {
    text-align: center;
}

.main-header h1 {
    font-size: 1.8rem;
    color: #2e3d49;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
    background-color: aliceblue; /* Soft background color for form */
    padding: 32px;
    border-radius: 8px;
}

footer {
    text-align: center;
}

input[type=number],
input[type=radio] {
    width: 100%;
    padding: 12px;
    margin-bottom: 8px;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}

input[type=radio] {
    width: auto;
    margin-right: 10px;
}

input[type=number]:focus,
input[type=radio]:focus {
    border-color: #007bff; /* Focus effect with blue */
    outline: none;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}

button {
    border: none;
    color: whitesmoke;
    padding: 12px;
    font-size: 1rem;
    border-radius: 6px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bg-cadet-blue {
    background-color: cadetblue;
    color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.bg-cadet-blue:hover {
    background-color: #16635e;
}

.bg-red {
    background-color: rgb(213, 110, 110);
    color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.bg-red:hover {
    background-color: #c8233c;
}

.result-section {
    padding: 16px;
    text-align: center;
    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#result-bmi {
    font-size: 2rem;
    font-family: math;
    font-weight: bold;
    color: black;
}

lo{
    display: block;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 24px;
    font-size: 0.8rem;
    color: #6c757d;
}

.content {
    padding: 16px;
    text-align: center;
    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.download-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
  }
  
  .img {
    width: 300px;
    width: 100px;
    cursor: pointer;
    border-radius: 8px;
  }

/* CSS ini akan diterapkan ketika lebar layar kurang dari 480px */
@media only screen and (max-width: 768px) {
    main {
        padding: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .main-header h1 {
        font-size: 1.6rem;
    }
    
    button {
        padding: 14px;
    }

    #result-bmi {
        font-size: 1.5rem;
    }
}